/* Tech Stack Section Styles */
.skillContainer {
  position: relative;
  display: flex;
  padding: 0;
  margin-top: 4rem;
  gap: 30px;
  z-index: 0;
  width: 100%;
}

.skillFadedText {
  font-size: 9rem;
  right: -5%;
  bottom: -10%;
  user-select: none;
  background: linear-gradient(#c2c2c225 0%, #c2c2c213 20%, rgb(0, 0, 0) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  filter: contrast(105%);
}

.leftSkillContainer {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.skillHeading {
  background: linear-gradient(
    43deg,
    rgb(65, 88, 208) 0%,
    rgb(200, 80, 192) 46%,
    rgb(255, 204, 112) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
}

.skillHeading::first-letter {
  font-size: 90px;
}

.skillSubHeading {
  margin-top: 1rem;
  width: 85%;
}

.skillSubHeading p {
  margin: 15px 0;
  color: rgb(179, 177, 177);
  text-align: justify;
}

.rightSkillContainer {
  margin-right: 75px;
  height: 480px;
  width: 45%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2.5rem;
  place-items: center;
  padding: 2rem;
}

.skillsLogo {
  width: 65px;
  transition: 0.4s;
  position: relative;
  z-index: 1;
}

.skillsLogo:hover {
  transform: scale(0.85);
}

.space2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.space2 video {
  position: absolute;
  width: 400%; /* Increased from 200% to 400% */
  top: 50%;
  left: 50%;
  filter: opacity(80%) contrast(125%);
  transform: translate(-50%, -15%) scale(1.2); /* Added scale to make it even larger */
  z-index: 0;
}

@media (max-width: 900px) {
  .skillContainer {
    padding: 6rem 3rem 2rem 2rem;
    margin: 1rem auto;
    margin-bottom: 15rem;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .leftSkillContainer {
    width: 100%;
    max-width: 600px;
  }

  .skillHeading {
    font-size: 35px;
    line-height: 50px;
  }

  .skillHeading span {
    font-size: 60px;
  }

  .skillSubHeading {
    width: 100%;
  }

  .skillSubHeading p {
    font-size: 14px;
    margin: 15px auto;
  }

  .rightSkillContainer {
    margin-right: 0;
    margin-top: 40px;
    width: 100%;
    max-width: 500px;
    height: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    padding: 1.5rem;
  }

  .skillsLogo {
    width: 40px;
  }

  .space2 video {
    transform: translate(-50%, -15%) scale(2);
    width: 500%;
  }

  .skillFadedText {
    font-size: 8rem;
    width: 100%;
    text-align: center;
    left: 1%;
    bottom: -155px;
  }
}
